<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Вафлі — полуничний джем</h1>
    <p>Опис вафель з полуничним джемом.</p>
    <a href="{% url 'poldjmcom' %}" class="btn btn-back">Додати коментар</a>
    {% for com in comm %}
                <div class="post-item">
                    <p>{{ com.description }}</p>
                </div>
                {% endfor %}
    {% include 'includes/back_button.html' %}
</body>
</html>